<h2>Sign in</h2>

<% if @error %>
	<%= @error %>
<% end %>
<form method="post" action="/sessions">
  <div class="field">
    <label for="user_full_name">Full name</label>
    <input type="text" name="full_name" id="user_full_name" required />
  </div>
  <div class="field">
    <label for="user_password">Password</label>
    <input type="password" name="password" id="user_password" required/>
  </div>
  <div class="field">
    <input type="submit" value="sign in" />
  </div>
</form>