<h3>This are all the users associated with Fit MO</h3>
<% if @users %>
	<% @users.each do |user| %>
		<h3><%= user.username %></h3>
	<% end %>
<% else %>
	<h3>You will be our first customer</h3>
<% end %>
	<a href="/users/new">Register</a>